.chip {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 4px 4px 4px 8px;
  border-radius: 1000px;
  border: 1px solid #aaa;
  color: #888;
  background-color: #efefef;
  cursor: default;
}

.label {
  font-size: 14px;
}

.close {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  line-height: 0;
  opacity: .5;
  transition: all .2s ease-in-out;
}

.close:hover {
  opacity: 1.0;
  transform: translateY(-.5px);
}

.close:active {
  transform: translateY(0px);
}

.closeIcon {
  display: block;
  pointer-events: none;
}