.extensions {
  position: relative;
  display: flex;
  margin-top: 200px;
  width: 50vw;
  min-width: 400px;
  max-width: 800px;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 8px;
  gap: 8px;
  min-width: 0;
}

.header {
  min-width: 100px;
  max-width: 120px;
  font-weight: 700;
  font-size: 14px;
}

.fixed {
  display: flex;
  flex-wrap: wrap; 
  gap: 16px;
  min-width: 0;
  flex: 1 1 auto;
}

.custom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 0;
  flex: 1 1 auto;
}

.field {
  display: flex;
  align-items: center;
  gap: 8px;
}

.field button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.field button img {
  display: block;
  flex-shrink: 0;
}

.field button span {
  width: max-content;
  font-size: 12px;
}

.chipWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  height: 280px;
  padding: 8px 12px;
  border: 1px solid #999;
  gap: 4px;
  border-radius: 4px;
  overflow-y: scroll
}

.count {
  font-size: 14px;
  color: #888;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 8px;
}