.extensions {
  position: relative;
  display: flex;
  margin-top: 200px;
  width: 50vw;
  min-width: 400px;
  max-width: 800px;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 8px;
  gap: 8px;
  min-width: 0;
}

.header {
  padding-top: 4px;
  min-width: 100px;
  max-width: 120px;
  font-weight: 700;
  font-size: 14px;
  color: #444;
}

.fixed {
  display: flex;
  flex-wrap: wrap; 
  gap: 16px;
  min-width: 0;
  flex: 1 1 auto;
}

.custom {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 0;
  flex: 1 1 auto;
}

.field {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.field button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.field button img {
  display: block;
  flex-shrink: 0;
}

.field button span {
  width: max-content;
  font-size: 14px;
  margin-left: 4px;
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.chipWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  height: 280px;
  border: 1px solid #ddd;
  gap: 4px;
  border-radius: 4px;
  background-color: #fefefe;
}

.chipHeader {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  padding: 4px 8px;
  font-size: 14px;
  color: #888;
  width: 100%;
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
}

.clear {
  all: unset;
  color: #999;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.clear:hover {
  color: #555;
}

.clear:active {
  transform: scale(.98);
}

.chips {
  position: relative;
  margin-top: 28px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 8px;
  padding: 8px 12px;
  overflow-x: hidden;
  overflow-y: scroll;
}
